<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mt.spvjar"
    >

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <application>
        <!--<receiver-->
            <!--android:name=".broadcast.MyReceiver"-->
            <!--android:enabled="true"-->
            <!--android:exported="true">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.scott.sayhi"></action>-->
            <!--</intent-filter>-->

        <!--</receiver>-->

        <activity android:name=".MainActivity"></activity>
        <activity android:name=".SsoLoginActivity"></activity>
    </application>

</manifest>